.tower {
  float: left;
  border: brown solid 3px;
  height: 192px;
  width: 100px;
  padding: 3px;
}

.highlighted {
  background-color: magenta;
}

.tower div {
  height: 60px;

}

.disc {
  margin: 3px auto;
  height: 60px;
}

.disc3 {
  width: 90px;
  background-color: green;
  outline: gray solid 3px;
}

.disc2 {
  width: 60px;
  background-color: yellow;
  outline: gray solid 3px;
}

.disc1 {
  width: 30px;
  background-color: red;
  outline: gray solid 3px;
}